<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customize.mybatis.mapper.tb.ClazzMapper">
    <resultMap id="BaseResultMap" type="com.customize.domain.entity.tb.Clazz"
               extends="com.customize.mybatis.core.BaseMapper.BaseResultMap">
        <id column="pk_clazz_id" jdbcType="VARCHAR" property="pkClazzId"/>
        <result column="clazz_name" jdbcType="VARCHAR" property="clazzName"/>
    </resultMap>

    <resultMap id="DtoResultMap" type="com.customize.domain.dto.tb.ClazzDto"
               extends="BaseResultMap">

    </resultMap>

    <sql id="Base_Column_List">
        pk_clazz_id, clazz_name,
        <include refid="com.customize.mybatis.core.BaseMapper.Base_Column_List" />
    </sql>

    <update id="removeByPrimaryKey" parameterType="Map">
        update tb_clazz set is_delete = #{isDelete} where pk_clazz_id = #{pkClazzId}
    </update>

    <update id="removeClazzBatch" parameterType="Map">
        update tb_clazz set is_delete = #{isDelete} where pk_clazz_id in
        <foreach item="pkClazzId" collection="pkClazzIds" separator="," open="(" close=")">
            #{pkClazzId}
        </foreach>
    </update>

    <delete id="deleteClazzBatch" parameterType="String">
        delete from tb_clazz where pk_clazz_id in
        <foreach item="pkClazzId" collection="pkClazzIds" separator="," open="(" close=")">
            #{pkClazzId}
        </foreach>
    </delete>

    <select id="queryClazzList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from tb_clazz
        <where>
          <if test="clazzVo.isDelete != null">
              is_delete = #{clazzVo.isDelete}
          </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectClazzList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from tb_clazz
        <where>
            <if test="isDelete != null">
                is_delete = #{isDelete}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="findById" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from tb_clazz
        where pk_clazz_id = #{pkClazzId}
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
    </select>

</mapper>