<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customize.mybatis.mapper.re.SysUserPostMapper">
    <resultMap id="BaseResultMap" type="com.customize.domain.entity.re.SysUserPost"
               extends="com.customize.mybatis.core.BaseMapper.BaseResultMap">
        <id column="pk_re_user_post_id" jdbcType="varchar" property="pkReUserPostId" />
                            <result column="fk_user_id" jdbcType="varchar" property="fkUserId" />
                                        <result column="fk_post_id" jdbcType="varchar" property="fkPostId" />
                                                                                                                                                                    </resultMap>

    <resultMap id="DtoResultMap" type="com.customize.domain.dto.re.SysUserPostDto"
               extends="BaseResultMap">

    </resultMap>

    <sql id="Base_Column_List">
                                    fk_user_id,
                                                fk_post_id,
                                                                                                                                data_status,
                                                                    version,
                            <include refid="com.customize.mybatis.core.BaseMapper.Base_Column_List" />
    </sql>

    <update id="removeByPrimaryKey" parameterType="Map">
        update re_sys_user_post set is_delete = #{isDelete} where pk_re_user_post_id = #{pkReUserPostId}
    </update>

    <update id="removeSysUserPostBatch" parameterType="Map">
        update re_sys_user_post set is_delete = #{isDelete} where pk_re_user_post_id in
        <foreach item="pkReUserPostId" collection="pkReUserPostIds" separator="," open="(" close=")">
            #{pkReUserPostId}
        </foreach>
    </update>

    <delete id="deleteSysUserPostBatch" parameterType="String">
        delete from re_sys_user_post where pk_re_user_post_id in
        <foreach item="pkReUserPostId" collection="pkReUserPostIds" separator="," open="(" close=")">
            #{pkReUserPostId}
        </foreach>
    </delete>

    <select id="querySysUserPostList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from re_sys_user_post
        <where>
            <if test="sysUserPostVo.isDelete != null">
                is_delete = #{sysUserPostVo.isDelete}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSysUserPostList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from re_sys_user_post
        <where>
            <if test="isDelete != null">
                is_delete = #{isDelete}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="findById" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from re_sys_user_post
        where pk_re_user_post_id = #{pkReUserPostId}
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
    </select>

</mapper>