<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customize.mybatis.mapper.sys.UserMapper">
    <resultMap id="BaseResultMap" type="com.customize.domain.entity.sys.User"
               extends="com.customize.mybatis.core.BaseMapper.BaseResultMap">
        <id column="pk_user_id" property="pkUserId" />
                            <result column="user_code" property="userCode" />
                                        <result column="user_name" property="userName" />
                                        <result column="account" property="account" />
                                        <result column="password" property="password" />
                                        <result column="fk_organization_id" property="fkOrganizationId" />
                                        <result column="user_name_en" property="userNameEn" />
                                        <result column="phone_number" property="phoneNumber" />
                                        <result column="email" property="email" />
                                        <result column="sex" property="sex" />
                                        <result column="sort" property="sort" />
                                        <result column="remark" property="remark" />
                                                                                                                                                                    </resultMap>

    <resultMap id="DtoResultMap" type="com.customize.domain.dto.sys.UserDto"
               extends="BaseResultMap">

    </resultMap>

    <sql id="Base_Column_List">
                            user_code,                                         user_name,                                         account,                                         password,                                         fk_organization_id,                                         user_name_en,                                         phone_number,                                         email,                                         sex,                                         sort,                                         remark,                                                                                                                         data_status,                                                             version,                             <include refid="com.customize.mybatis.core.BaseMapper.Base_Column_List" />
    </sql>

    <update id="removeByPrimaryKey" parameterType="Map">
        update sys_user set is_delete = #{isDelete} where pk_user_id = #{pkUserId}
    </update>

    <update id="removeUserBatch" parameterType="Map">
        update sys_user set is_delete = #{isDelete} where pk_user_id in
        <foreach item="pkUserId" collection="pkUserIds" separator="," open="(" close=")">
            #{pkUserId}
        </foreach>
    </update>

    <delete id="deleteUserBatch" parameterType="String">
        delete from sys_user where pk_user_id in
        <foreach item="pkUserId" collection="pkUserIds" separator="," open="(" close=")">
            #{pkUserId}
        </foreach>
    </delete>

    <select id="queryUserList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from sys_user
        <where>
            <if test="userVo.isDelete != null">
                is_delete = #{userVo.isDelete}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectUserList" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from sys_user
        <where>
            <if test="isDelete != null">
                is_delete = #{isDelete}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="findById" resultMap="DtoResultMap">
        select <include refid="Base_Column_List" /> from sys_user
        where pk_user_id = #{pkUserId}
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
    </select>

</mapper>