<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customize.mybatis.mapper.SysJobTypeMapper">
    <resultMap id="BaseResultMap" type="com.customize.domain.entity.sys.SysJobType">
        <id column="pk_job_type_id" jdbcType="VARCHAR" property="pkJobTypeId"/>
        <result column="job_type_name" jdbcType="VARCHAR" property="jobTypeName"/>
        <result column="manager_class" jdbcType="VARCHAR" property="managerClass"/>
        <result column="function" jdbcType="VARCHAR" property="function"/>
        <result column="parameter" jdbcType="VARCHAR" property="parameter"/>
    </resultMap>

    <sql id="Base_Column_List">
      pk_job_type_id, job_type_name, manager_class, `function`, `parameter`,
      <include refid="com.customize.mybatis.core.BaseMapper.Base_Column_List" />
    </sql>

    <select id="findById" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> from sys_job_type
        where pk_job_type_id = #{id}
    </select>

</mapper>