package ${params.domainPackage}.vo.${moduleName};

import ${params.domainPackage}.core.BaseVo;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import lombok.experimental.Accessors;

/**
 * ${tableName} 表
 *
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
@Accessors(chain = true)
@ApiModel("${tableComment}视图模型")
public class ${className}Vo extends BaseVo {

}